# 01_envar.config
option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: 8080
    NODE_ENV: production
    SECRET_KEY: "qrUEL6FtIgVHr9NMPPiEWJzk43agclpX"
    MONGO_URL: "mongodb://graph:graph123@ds155490.mlab.com:55490/node_graphql"
    CLOUDINARY_NAME: doaaht440
    CLOUDINARY_API_KEY: 215755899985283
    CLOUDINARY_SECRET_KEY: pbRBEpOAwIrCA7EvNf-R4qK09V4